.about {
  display: flex;
  align-items: center;
  gap: 80px;
  padding: 120px 8%;
}

.about-left img {
  width: 520px;
  border-radius: 20px;
  box-shadow: 0 20px 60px rgba(0,0,0,0.4);
}

.about-right {
  max-width: 520px;
}

.about-badge {
  display: inline-block;
  padding: 6px 16px;
  border-radius: 20px;
  border: 1px solid #2563eb;
  color: #60a5fa;
  font-size: 14px;
  margin-bottom: 20px;
}

.about h2 {
  font-size: 42px;
  margin-bottom: 20px;
  line-height: 1.2;
}

.about h2 span {
  color: #3b82f6;
}

.about p {
  color: #cbd5f5;
  font-size: 16px;
  margin-bottom: 18px;
  max-width: 60ch;
  line-height: 1.7;
  text-align: justify;
  hyphens: auto;
  
}

.about-cards {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.card {
  flex: 1;
  background: rgba(30,41,59,0.6);
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-4px);
}

.card span {
  font-size: 26px;
  display: block;
  margin-bottom: 10px;
}

.card h4 {
  font-size: 16px;
}

@media (max-width: 1024px) {
  .about {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }

  .about-left img {
    width: 100%;
    max-width: 500px;
  }

  .about-right {
    max-width: 100%;
  }

  .about-cards {
    justify-content: center;
  }
}
@media (max-width: 640px) {
  .about {
    padding: 80px 5%;
  }

  .about h2 {
    font-size: 32px;
  }

  .about p {
    font-size: 15px;
  }

  .about-cards {
    flex-direction: column;
  }

  .card {
    padding: 18px;
  }
}

/* p {
  max-width: 60ch;
  line-height: 1.7;
  text-align: justify;
  hyphens: auto;
}

@media (max-width: 640px) {
  p {
    text-align: left;
  }
} */
