.contact {
  padding: 120px 8%;
}

.contact-wrapper {
  display: flex;
  gap: 80px;
  align-items: center;
}

.contact-left {
  max-width: 480px;
}

.contact-left h2 {
  font-size: 42px;
  margin-bottom: 20px;
}

.contact-left h2 span {
  color: #3b82f6;
}

.contact-left p {
  color: #cbd5f5;
  line-height: 1.7;
  margin-bottom: 30px;
  max-width: 60ch;
  text-align: justify;
  hyphens: auto;
  
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 30px;
}

.contact-info span {
  font-size: 14px;
  color: #94a3b8;
}

.contact-info strong {
  font-size: 16px;
}

.socials {
  display: flex;
  gap: 14px;
}

.socials a {
  width: 40px;
  height: 40px;
  background: rgba(30,41,59,0.7);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}

.contact-form {
  flex: 1;
  background: rgba(30,41,59,0.7);
  padding: 40px;
  border-radius: 24px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.row {
  display: flex;
  gap: 16px;
}

input,
textarea {
  width: 100%;
  padding: 14px 16px;
  background: rgba(15,23,42,0.9);
  border: 1px solid #1e293b;
  border-radius: 14px;
  color: white;
  font-size: 14px;
}

textarea {
  resize: none;
}

button {
  margin-top: 10px;
  padding: 14px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  background: linear-gradient(90deg, #2563eb, #7c3aed);
  color: white;
}
@media (max-width: 1024px) {
  .contact-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .contact-left {
    max-width: 100%;
  }

  .contact-info {
    align-items: center;
  }

  .socials {
    justify-content: center;
  }
}
@media (max-width: 640px) {
  .contact {
    padding: 80px 5%;
  }

  .contact-left h2 {
    font-size: 32px;
  }

  .contact-form {
    padding: 26px;
  }

  .row {
    flex-direction: column;
  }
}
