.projects {
  padding: 120px 8%;
   display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-header {
  text-align: center;
  margin-bottom: 60px;
}

.projects-header h2 {
  font-size: 42px;
  color: #a78bfa;
  margin-bottom: 10px;
}

.projects-header p {
  color: #cbd5f5;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.project-card {
  background: rgba(30,41,59,0.6);
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.35s ease;
}

.project-card:hover {
  transform: translateY(-6px);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-content {
  padding: 24px;
}

.tag {
  display: inline-block;
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 14px;
  background: rgba(59,130,246,0.15);
  color: #60a5fa;
  margin-bottom: 10px;
}

.project-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.project-content p {
  font-size: 15px;
  color: #cbd5f5;
  line-height: 1.6;
  margin-bottom: 16px;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 18px;
}

.tech span {
  background: rgba(15,23,42,0.8);
  padding: 5px 12px;
  border-radius: 14px;
  font-size: 13px;
}

.demo-btn {
  display: inline-block;
  padding: 10px 18px;
  background: #2563eb;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
}
@media (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 640px) {
  .projects {
    padding: 80px 5%;
  }

  .projects-header h2 {
    font-size: 32px;
  }

  .project-content {
    text-align: center;
  }

  .tech {
    justify-content: center;
  }
}
